<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="commacreations.apps.paintingpro">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity
            android:name="commacreations.apps.paintingpro.Splashscreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="commacreations.apps.paintingpro.Home"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="commacreations.apps.paintingpro.ProductDetails"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
